%h1 All Movies

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |m|
      %tr
        = render partial: 'movie', locals: {movie: m}

= link_to 'Add new movie', new_movie_path
